.todo {
    display: flex;
}

.hide {
    display: none;
}

.todoName {
    cursor: pointer;
}


/* .todo children */
/* 1st (deleteButton) & 2nd (task name) stacked horizontally */
/* all the other children stacked vertically and toggle (display:none) from javascript */

.todo {
    display: flex;
    flex-wrap: wrap;
}

.todo > button:first-child {
    flex-basis: 10px;
}

.todo > *:nth-child(2) {
    flex-grow: 1;
}

.todo > *:not(:first-child):not(:nth-child(2)) {
    flex-basis: 100%; 

}

.editButton {
    max-width: 30px;
}